| Nom de la colonne                           | Type   | Description                                                          |
| ------------------------------------------- | ------ | -------------------------------------------------------------------- |
| **annee_de_publication**                    | int    | Année de publication de l’information sur l’emprunt.                 |
| **nature**                                  | string | Nature de la dette (ex : emprunt, mobilisation, ligne de crédit).    |
| **organisme_preteur_ou_chef_de_file**       | string | Nom du prêteur ou de l’établissement chef de file.                   |
| **date_d_emission_ou_date_de_mobilisation** | date   | Date à laquelle l’emprunt a été émis ou mobilisé.                    |
| **date_de_derniere_echeance**               | date   | Date de la dernière échéance prévue pour le remboursement.           |
| **capital_initial**                         | float  | Montant initial du capital emprunté (€).                             |
| **capital_restant_du_au_31_12_2016**        | float  | Montant du capital restant dû au 31/12/2016 (€).                     |
| **type_de_taux_d_interet**                  | string | Type de taux appliqué : fixe, variable, mixte.                       |
| **index**                                   | string | Indice de référence pour les taux variables (Euribor, Livret A…).    |
| **taux_initial_niveau_de_taux**             | float  | Niveau du taux initial (en %) défini lors de l'émission.             |
| **taux_initial_taux_actuariel**             | float  | Taux actuariel initial (en %), intégrant les conditions financières. |
| **profil_d_amortissement**                  | string | Mode d’amortissement : linéaire, in fine, amortissable…              |
| **possibilite_de_remboursement**            | string | Possibilité de remboursement anticipé (oui/non + modalités).         |
| **categorie_d_emprunt**                     | string | Catégorie de l’emprunt : court terme, long terme, structurel, etc.   |

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("dette_propre_complet.csv", sep=",")

In [3]:
dataset.shape

(697, 14)

In [4]:
dataset.columns

Index(['annee_de_publication', 'nature', 'organisme_preteur_ou_chef_de_file',
       'date_d_emission_ou_date_de_mobilisation', 'date_de_derniere_echeance',
       'capital_initial', 'capital_restant_du_au_31_12_2016',
       'type_de_taux_d_interet', 'index', 'taux_initial_niveau_de_taux',
       'taux_initial_taux_actuariel', 'profil_d_amortissement',
       'possibilite_de_remboursement', 'categorie_d_emprunt'],
      dtype='object')

In [5]:
dataset.head()

,annee_de_publication,nature,organisme_preteur_ou_chef_de_file,date_d_emission_ou_date_de_mobilisation,date_de_derniere_echeance,capital_initial,capital_restant_du_au_31_12_2016,type_de_taux_d_interet,index,taux_initial_niveau_de_taux,taux_initial_taux_actuariel,profil_d_amortissement,possibilite_de_remboursement,categorie_d_emprunt
0,2010,1641 - Emprunts établissements crédit,DEXIA CREDIT LOCAL,2003-12-22,2013-12-22,35000000.0,35000000.0,Indexé,TAG06M,0.1581,1.9644,Emprunt in fine,oui,A-1
1,2012,1641 - Emprunts établissements crédit,SOCIETE GENERALE,2005-12-28,2019-12-28,25000000.0,25000000.0,Indexé,TAG01M,0.0000,1.0218,Emprunt in fine,oui,A-1
2,2012,1641 - Emprunts établissements crédit,BNP Paribas,2009-12-30,2021-12-29,25000000.0,25000000.0,Indexé,EURIBOR03M,0.4210,0.7061,Emprunt in fine,oui,A-1
3,2008,16441 - Emprunts option tirage tréso,Caisse Nat. C.E.,2004-12-17,2010-12-17,75000000.0,75000000.0,Fixe,TAUX FIXE,0.0000,0.0000,Emprunt in fine,oui,A-1
4,2009,16311 - Emissions obligataires,HSBC,2005-11-09,2018-11-09,50651230.1,50651230.1,Indexé,EURIBOR03M,0.0210,1.3865,Emprunt in fine,oui,A-1

In [6]:
dataset.tail()

,annee_de_publication,nature,organisme_preteur_ou_chef_de_file,date_d_emission_ou_date_de_mobilisation,date_de_derniere_echeance,capital_initial,capital_restant_du_au_31_12_2016,type_de_taux_d_interet,index,taux_initial_niveau_de_taux,taux_initial_taux_actuariel,profil_d_amortissement,possibilite_de_remboursement,categorie_d_emprunt
692,2012,16311 - Emissions obligataires,HSBC,2012-10-26,2026-01-20,30000000.00,30000000.00,Fixe,TAUX FIXE,2.909,2.9097,Emprunt in fine,oui,A-1
693,2013,16311 - Emissions obligataires,Crédit Suisse-BNPP,2008-11-05,2018-11-05,95328884.65,95328884.65,Indexé,EURIBOR03M,0.119,0.6826,Emprunt in fine,oui,A-1
694,2008,16311 - Emissions obligataires,HSBC,2005-11-16,2015-11-16,14888865.00,14888865.00,Indexé,EURIBOR03M,-0.012,1.7396,Emprunt in fine,oui,A-1
695,2018,1641 - Emprunts établissements crédit,Helaba,NaN,2043-09-24,50000000.00,50000000.00,NaN,TAUX FIXE,1.499,1.4990,Emprunt in fine,oui,A-1
696,2010,16311 - Emissions obligataires,Crédit Suisse,2007-12-14,2017-01-14,24405125.08,24405125.08,Indexé,EURIBOR04M,0.021,1.1414,Emprunt in fine,oui,A-1

In [7]:
dataset.describe()

,annee_de_publication,capital_initial,capital_restant_du_au_31_12_2016,taux_initial_niveau_de_taux,taux_initial_taux_actuariel
count,697.000000,6.970000e+02,6.970000e+02,697.000000,697.000000
mean,2013.559541,6.616272e+07,6.275650e+07,1.774974,2.033912
std,3.393236,5.535899e+07,5.634611e+07,1.657272,1.501794
min,2007.000000,4.278210e+03,0.000000e+00,-0.379000,-0.295000
25%,2011.000000,2.500000e+07,2.500000e+07,0.021000,0.951000
50%,2014.000000,5.000000e+07,5.000000e+07,1.579000,1.736400
75%,2016.000000,1.000000e+08,1.000000e+08,3.240000,3.240100
max,2018.000000,3.200000e+08,3.200000e+08,5.950000,9.510300

In [8]:
dataset.describe(include=['object'])

,nature,organisme_preteur_ou_chef_de_file,date_d_emission_ou_date_de_mobilisation,date_de_derniere_echeance,type_de_taux_d_interet,index,profil_d_amortissement,possibilite_de_remboursement,categorie_d_emprunt
count,697,697,610,697,610,697,697,697,697
unique,5,74,91,106,3,8,3,2,1
top,16311 - Emissions obligataires,HSBC,2003-12-22,2019-03-31,Fixe,TAUX FIXE,Emprunt in fine,oui,A-1
freq,377,81,25,23,436,510,611,396,697

In [9]:
dataset.isna().sum()

annee_de_publication                        0
nature                                      0
organisme_preteur_ou_chef_de_file           0
date_d_emission_ou_date_de_mobilisation    87
date_de_derniere_echeance                   0
capital_initial                             0
capital_restant_du_au_31_12_2016            0
type_de_taux_d_interet                     87
index                                       0
taux_initial_niveau_de_taux                 0
taux_initial_taux_actuariel                 0
profil_d_amortissement                      0
possibilite_de_remboursement                0
categorie_d_emprunt                         0
dtype: int64

In [10]:
dataset = dataset.dropna(subset=['date_d_emission_ou_date_de_mobilisation'])

In [11]:
dataset.isna().sum()

annee_de_publication                       0
nature                                     0
organisme_preteur_ou_chef_de_file          0
date_d_emission_ou_date_de_mobilisation    0
date_de_derniere_echeance                  0
capital_initial                            0
capital_restant_du_au_31_12_2016           0
type_de_taux_d_interet                     0
index                                      0
taux_initial_niveau_de_taux                0
taux_initial_taux_actuariel                0
profil_d_amortissement                     0
possibilite_de_remboursement               0
categorie_d_emprunt                        0
dtype: int64

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 610 entries, 0 to 696
Data columns (total 14 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   annee_de_publication                     610 non-null    int64
 1   nature                                   610 non-null    object
 2   organisme_preteur_ou_chef_de_file        610 non-null    object
 3   date_d_emission_ou_date_de_mobilisation  610 non-null    object
 4   date_de_derniere_echeance                610 non-null    object
 5   capital_initial                          610 non-null    float64
 6   capital_restant_du_au_31_12_2016         610 non-null    float64
 7   type_de_taux_d_interet                   610 non-null    object
 8   index                                    610 non-null    object
 9   taux_initial_niveau_de_taux              610 non-null    float64
 10  taux_initial_taux_actuariel              610 non-null    float64
 11  profil_d_amortissement                   610 non-null    object
 12  possibilite_de_remboursement             610 non-null    object
 13  categorie_d_emprunt                      610 non-null    object
dtypes: float64(4), int64(1), object(9)
memory usage: 71.5+ KB

In [13]:
dataset = dataset.rename(columns={
    'date_d_emission_ou_date_de_mobilisation': 'date_d_emission',
    'capital_restant_du_au_31_12_2016': 'capital_restant'
})

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 610 entries, 0 to 696
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   annee_de_publication               610 non-null    int64
 1   nature                             610 non-null    object
 2   organisme_preteur_ou_chef_de_file  610 non-null    object
 3   date_d_emission                    610 non-null    object
 4   date_de_derniere_echeance          610 non-null    object
 5   capital_initial                    610 non-null    float64
 6   capital_restant                    610 non-null    float64
 7   type_de_taux_d_interet             610 non-null    object
 8   index                              610 non-null    object
 9   taux_initial_niveau_de_taux        610 non-null    float64
 10  taux_initial_taux_actuariel        610 non-null    float64
 11  profil_d_amortissement             610 non-null    object
 12  possibilite_de_remboursement       610 non-null    object
 13  categorie_d_emprunt                610 non-null    object
dtypes: float64(4), int64(1), object(9)
memory usage: 71.5+ KB

In [15]:
dataset

,annee_de_publication,nature,organisme_preteur_ou_chef_de_file,date_d_emission,date_de_derniere_echeance,capital_initial,capital_restant,type_de_taux_d_interet,index,taux_initial_niveau_de_taux,taux_initial_taux_actuariel,profil_d_amortissement,possibilite_de_remboursement,categorie_d_emprunt
0,2010,1641 - Emprunts établissements crédit,DEXIA CREDIT LOCAL,2003-12-22,2013-12-22,35000000.00,35000000.00,Indexé,TAG06M,0.1581,1.9644,Emprunt in fine,oui,A-1
1,2012,1641 - Emprunts établissements crédit,SOCIETE GENERALE,2005-12-28,2019-12-28,25000000.00,25000000.00,Indexé,TAG01M,0.0000,1.0218,Emprunt in fine,oui,A-1
2,2012,1641 - Emprunts établissements crédit,BNP Paribas,2009-12-30,2021-12-29,25000000.00,25000000.00,Indexé,EURIBOR03M,0.4210,0.7061,Emprunt in fine,oui,A-1
3,2008,16441 - Emprunts option tirage tréso,Caisse Nat. C.E.,2004-12-17,2010-12-17,75000000.00,75000000.00,Fixe,TAUX FIXE,0.0000,0.0000,Emprunt in fine,oui,A-1
4,2009,16311 - Emissions obligataires,HSBC,2005-11-09,2018-11-09,50651230.10,50651230.10,Indexé,EURIBOR03M,0.0210,1.3865,Emprunt in fine,oui,A-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2008,16311 - Emissions obligataires,BNP Paribas,2005-11-24,2014-11-24,96618357.49,96618357.49,Indexé,EURIBOR03M,0.1010,1.9012,Emprunt in fine,oui,A-1
692,2012,16311 - Emissions obligataires,HSBC,2012-10-26,2026-01-20,30000000.00,30000000.00,Fixe,TAUX FIXE,2.9090,2.9097,Emprunt in fine,oui,A-1
693,2013,16311 - Emissions obligataires,Crédit Suisse-BNPP,2008-11-05,2018-11-05,95328884.65,95328884.65,Indexé,EURIBOR03M,0.1190,0.6826,Emprunt in fine,oui,A-1
694,2008,16311 - Emissions obligataires,HSBC,2005-11-16,2015-11-16,14888865.00,14888865.00,Indexé,EURIBOR03M,-0.0120,1.7396,Emprunt in fine,oui,A-1
696,2010,16311 - Emissions obligataires,Crédit Suisse,2007-12-14,2017-01-14,24405125.08,24405125.08,Indexé,EURIBOR04M,0.0210,1.1414,Emprunt in fine,oui,A-1

In [16]:
# Afficher les valeurs uniques pour chaque colonne
for column in dataset.columns:
    print(f"\n=== {column.upper()} ===")
    unique_values = dataset[column].unique()
    print(f"Nombre de valeurs uniques: {len(unique_values)}")
    print("Valeurs:", unique_values)

=== ANNEE_DE_PUBLICATION ===
Nombre de valeurs uniques: 11
Valeurs: [2010 2012 2008 2009 2017 2013 2016 2007 2014 2011 2015]

=== NATURE ===
Nombre de valeurs uniques: 5
Valeurs: ['1641 - Emprunts établissements crédit'
 '16441 - Emprunts option tirage tréso' '16311 - Emissions obligataires'
 '168 Autres emprunts et dettes assimilées'
 '16876 - C.R.A.M.I.F / S.I.A.A.P.']

=== ORGANISME_PRETEUR_OU_CHEF_DE_FILE ===
Nombre de valeurs uniques: 61
Valeurs: ['DEXIA CREDIT LOCAL' 'SOCIETE GENERALE' 'BNP Paribas' 'Caisse Nat. C.E.'
 'HSBC' 'Calyon-Dexia' '89 - SocGen (arrangeur)' 'Natixis' 'Goldman Sachs'
 'Crédit Suisse' 'Helaba' 'C.E. I.D.F PARIS' '2 - C.D.C.' '92 - HSBC'
 'BEI' 'CREDIT FONCIER' 'Dexia - Morgan Stanley' '31 - Helaba' '96 - BEI'
 'HSBC-Natixis' 'HSBC-Natixis-SociétéGénérale' 'LANDESBANK BERLIN AG'
 '100 - HSBC-Natixis-Banca IMI' '9 - SOCIETE GENERALE' 'S.I.A.A.P.'
 '103 - Crédit Agricole' 'Deutsche Bank' 'HSBC-Natixis-Banca IMI' 'C.D.C.'
 'HSBC-SG-CA' '99 - HSBC-Natixis-SociétéGénérale' 'Crédit Agricole'
 'Société Générale' '10 - Natixis' '27 - S.I.A.A.P.' 'HSBC-Natixis-Citi'
 'Crédit Suisse-BNPP' '6 - CREDIT AGRICOLE IDF' 'Barclays'
 'CREDIT AGRICOLE IDF' 'CAISSE NATION. ASSURANCE VIELL' 'Citi'
 'DEKABANK DEUTSCHE GIROZENTRALE' '102 - Deutsche Bank'
 '101 - Goldman Sachs' 'Natixis-BNP' 'Gr.C.E.: CREDIT FONCIER'
 '15 - Crédit Suisse' '7 - BNP Paribas' '107 - BRED' 'BRED'
 '98 - Crédit Suisse-BNPP' '104 - Natixis-BNP' '97 - HSBC-Natixis'
 '108 - HSBC-SG-CA' '106 - Citi' "20 - Banque du Conseil de l'Europe"
 '3 - DEXIA CREDIT LOCAL' '5 - Gr.C.E.: CREDIT FONCIER' '105 - Barclays'
 '109 - HSBC-Natixis-Citi']

=== DATE_D_EMISSION ===
Nombre de valeurs uniques: 91
Valeurs: ['2003-12-22' '2005-12-28' '2009-12-30' '2004-12-17' '2005-11-09'
 '2006-11-28' '2013-10-01' '2013-10-17' '2016-07-05' '2007-12-14'
 '2015-03-13' '2009-12-10' '2005-12-30' '2011-12-29' '1998-12-28'
 '2005-11-24' '2016-11-30' '2014-03-21' '2007-12-31' '2006-12-28'
 '2005-06-24' '2015-01-13' '2011-12-19' '2007-12-04' '2013-04-30'
 '2008-10-30' '2015-09-18' '1996-12-02' '2009-06-29' '2002-12-27'
 '2017-12-11' '2005-11-16' '1976-01-01' '2001-12-21' '2010-12-29'
 '2015-09-29' '2015-03-16' '2012-07-20' '2012-04-02' '2010-07-21'
 '2012-10-25' '1978-10-16' '2012-10-26' '2013-06-21' '1954-11-23'
 '1955-10-25' '2015-03-18' '2015-10-23' '2014-07-17' '2015-11-18'
 '2012-09-20' '2011-07-13' '2008-11-25' '2015-09-16' '2010-12-02'
 '1974-01-01' '2017-09-04' '2006-05-26' '2016-04-29' '2013-05-22'
 '2016-04-06' '2008-11-05' '2016-09-03' '2013-04-18' '2011-11-25'
 '1978-01-01' '2013-12-11' '2013-12-12' '2012-10-02' '1954-12-21'
 '2001-12-28' '2016-04-19' '2014-10-07' '1996-12-19' '2002-12-01'
 '2013-06-13' '2015-12-22' '2015-10-01' '2016-11-18' '2001-07-24'
 '2012-12-19' '2016-06-24' '2014-07-15' '2016-10-27' '2016-09-16'
 '2014-07-31' '2017-02-02' '2016-10-19' '2017-10-04' '2014-07-11'
 '2017-11-20']

=== DATE_DE_DERNIERE_ECHEANCE ===
Nombre de valeurs uniques: 99
Valeurs: ['2013-12-22' '2019-12-28' '2021-12-29' '2010-12-17' '2018-11-09'
 '2014-11-28' '2026-10-01' '2028-10-17' '2030-05-25' '2017-01-14'
 '2040-03-13' '2020-01-10' '2013-12-30' '2026-12-29' '2007-12-28'
 '2014-11-24' '2036-12-01' '2029-12-14' '2017-12-31' '2010-12-28'
 '2012-12-30' '2015-06-24' '2024-12-13' '2025-12-19' '2020-12-04'
 '2032-04-30' '2021-10-29' '2038-10-25' '2011-12-02' '2022-06-29'
 '2042-03-01' '2024-12-19' '2017-12-27' '2018-12-22' '2037-12-11'
 '2015-11-16' '2013-12-31' '2024-06-15' '2008-12-01' '2025-12-29'
 '2037-09-29' '2032-07-20' '2027-04-02' '2012-12-17' '2023-07-21'
 '2029-10-25' '2008-02-25' '2026-01-20' '2028-06-21' '2019-03-31'
 '2020-03-31' '2039-03-18' '2045-10-23' '2031-07-17' '2031-05-25'
 '2017-02-14' '2026-07-13' '2019-11-28' '2019-11-25' '2027-10-01'
 '2030-09-16' '2024-12-02' '2021-06-15' '2037-09-04' '2016-05-26'
 '2029-04-30' '2028-05-22' '2035-09-29' '2029-03-21' '2032-01-12'
 '2018-11-05' '2026-03-03' '2031-04-18' '2010-10-31' '2029-01-15'
 '2033-12-12' '2023-10-02' '2038-04-19' '2021-10-07' '2008-12-30'
 '2009-12-01' '2028-06-13' '2017-01-13' '2022-12-22' '2036-11-18'
 '2011-12-30' '2022-12-19' '2043-09-24' '2028-12-15' '2036-10-27'
 '2019-09-16' '2008-10-31' '2023-07-31' '2023-03-21' '2033-02-02'
 '2041-10-18' '2030-10-04' '2034-07-11' '2034-11-20']

=== CAPITAL_INITIAL ===
Nombre de valeurs uniques: 48
Valeurs: [3.50000000e+07 2.50000000e+07 7.50000000e+07 5.06512301e+07
 1.00000000e+08 5.00000000e+07 2.44051251e+07 4.97150000e+07
 2.10000000e+07 1.52449017e+07 9.66183575e+07 1.20000000e+08
 4.00000000e+07 1.60000000e+08 1.50000000e+07 1.55000000e+08
 8.38469595e+07 2.00000000e+08 3.00000000e+07 1.10000000e+08
 7.15000000e+07 1.48888650e+07 5.93484000e+04 5.56438913e+07
 1.40000000e+08 2.00000000e+07 7.00000000e+07 7.62245086e+06
 3.10647400e+04 5.32864000e+03 3.55000000e+07 3.00000000e+08
 6.00000000e+07 8.00000000e+07 1.25000000e+08 2.62669700e+04
 2.60000000e+07 9.53288847e+07 8.73006920e+05 2.69850920e+05
 4.27821000e+03 6.86020578e+07 6.09796069e+07 9.90918612e+07
 1.19948850e+05 7.11632000e+04 1.30000000e+08 3.20000000e+08]

=== CAPITAL_RESTANT ===
Nombre de valeurs uniques: 91
Valeurs: [3.50000000e+07 2.50000000e+07 7.50000000e+07 5.06512301e+07
 1.00000000e+08 5.00000000e+07 2.44051251e+07 4.97150000e+07
 2.10000000e+07 0.00000000e+00 4.75000000e+07 1.20000000e+08
 4.00000000e+07 1.60000000e+08 1.50000000e+07 1.55000000e+08
 8.38469595e+07 2.00000000e+08 2.92510665e+07 1.10000000e+08
 7.15000000e+07 1.48888650e+07 5.93484000e+04 3.81122543e+07
 1.40000000e+08 2.00000000e+07 7.00000000e+07 3.19557240e+05
 3.00000000e+07 5.35490000e+03 9.08890000e+02 3.55000000e+07
 3.00000000e+08 6.18714000e+03 6.00000000e+07 8.00000000e+07
 1.25000000e+08 1.05067700e+04 2.60000000e+07 1.57601700e+04
 9.35608000e+03 7.64800000e+02 9.53288847e+07 7.74263810e+05
 9.66183575e+07 1.45756000e+03 8.99738000e+03 3.79640000e+02
 5.34135600e+04 7.37430000e+02 6.09796069e+07 1.07459000e+03
 1.28849000e+03 1.18866000e+03 1.79923300e+04 1.85614000e+03
 2.69872800e+04 2.10135700e+04 7.16986000e+04 6.20520000e+02
 1.01098600e+04 1.30000000e+08 7.80298000e+03 1.31334700e+04
 2.62669700e+04 5.01270000e+02 4.15438800e+04 4.50602000e+03
 8.58722000e+03 1.71602000e+03 9.64420000e+02 1.10487150e+05
 8.53607660e+05 1.58807000e+03 1.84146000e+03 2.55570000e+02
 1.83868700e+04 8.52050000e+02 6.17830000e+02 7.00306000e+03
 4.74787200e+04 1.39230000e+03 3.64016000e+03 1.18260000e+03
 2.37209000e+03 2.36402700e+04 3.20000000e+08 4.67920000e+02
 2.75698000e+03 1.32444000e+03 1.05016000e+03]

=== TYPE_DE_TAUX_D_INTERET ===
Nombre de valeurs uniques: 3
Valeurs: ['Indexé' 'Fixe' 'Structuré']

=== INDEX ===
Nombre de valeurs uniques: 8
Valeurs: ['TAG06M' 'TAG01M' 'EURIBOR03M' 'TAUX FIXE' 'EURIBOR04M' 'EURIBOR06M'
 'T4M' 'TAG12M']

=== TAUX_INITIAL_NIVEAU_DE_TAUX ===
Nombre de valeurs uniques: 121
Valeurs: [ 1.581000e-01  0.000000e+00  4.210000e-01  2.100000e-02  3.875000e+00
  3.049000e+00  3.150000e+00  1.214000e+00  1.543000e+00  3.850000e-01
  4.000000e+00  4.726000e+00  1.010000e-01  2.850000e+00  8.010000e-01
  3.250000e+00  7.000000e-02  1.125000e+00  3.369000e+00  4.500000e+00
  3.740000e-01  7.250000e-01  4.750000e+00  2.103000e+00  5.950000e+00
  4.625000e+00  1.471856e+00  3.781000e+00  1.776000e-01  1.151000e+00
 -1.200000e-02  2.080000e+00  3.500000e+00  3.451000e+00  3.020000e+00
  5.426386e+00  2.909000e+00  1.300000e-03  2.886000e+00  2.000000e+00
  1.200000e+00  2.100000e+00  2.510000e+00  1.750000e+00 -3.620000e-01
  4.120000e+00 -3.790000e-01  3.155000e+00 -2.000000e-03  1.724000e+00
  1.579000e+00  4.125000e+00 -8.400000e-02 -8.000000e-03  1.330000e-01
  2.430000e+00 -3.280000e-01  2.006000e+00  2.840000e+00  1.250000e+00
 -8.300000e-02  3.360000e+00  2.200000e-02  4.100000e-02  3.570000e+00
  5.810000e-01  1.190000e-01  1.600000e-01  3.000000e+00  1.170000e-01
  3.240000e+00  2.600000e+00  5.700000e-02 -3.580000e-01  1.512000e+00
 -5.400000e-02 -2.350000e-01  7.700000e-01  5.420000e+00  2.810000e+00
 -3.590000e-01  3.590000e-01  4.920000e-01  1.300000e+00  7.500000e-01
 -7.400000e-02  3.050000e-01  1.499000e+00 -3.480000e-01  3.420000e-01
  3.090000e-01  7.100000e-02  2.280000e+00  1.160000e+00  1.230000e-01
  4.610000e-01  4.000930e+00 -2.650000e-01 -3.490000e-01  3.960000e-01
  1.454000e+00  6.690000e-01  3.430000e-01  6.880000e-01  1.625000e+00
 -3.410000e-01  2.970000e-01  6.190000e-01  1.278000e+00 -1.400000e-02
 -2.640000e-01  3.410000e-01 -1.500000e-02  6.930000e-01  2.572000e+00
  6.510000e-01  2.690000e-01 -6.800000e-02  1.375000e+00  2.710000e-01
  3.110000e-01]

=== TAUX_INITIAL_TAUX_ACTUARIEL ===
Nombre de valeurs uniques: 138
Valeurs: [1.9644 1.0218 0.7061 0.     1.3865 3.8752 3.0492 3.1501 1.2147 1.1414
 1.5432 0.7033 4.0001 3.2789 1.9012 2.8507 2.8883 3.2502 0.5342 1.1259
 3.3692 4.5001 0.4509 0.7559 4.7501 2.1033 5.9497 4.6251 1.4857 3.7811
 1.6052 1.3408 1.1518 1.7396 3.8751 2.0802 1.2145 3.5001 3.4512 3.0201
 9.5103 2.9097 1.6055 2.8861 1.3381 1.3806 1.2003 2.1001 2.5102 1.7507
 1.0522 2.9098 4.1201 1.0156 0.5649 3.1552 1.0934 1.7243 1.5793 4.1252
 1.7364 1.1258 0.617  2.4302 1.3105 2.0062 2.8401 1.2503 1.0997 3.3601
 0.5563 0.6554 3.6199 0.6184 0.6826 3.8757 1.8763 3.0001 0.5543 3.2401
 2.6002 1.341  0.5859 1.3062 1.5122 1.3664 0.5819 0.7717 5.4191 2.8102
 1.0987 0.6726 0.4948 1.2149 1.3003 2.8872 0.8057 1.0799 0.384  1.2946
 1.4992 1.0226 0.431  0.4054 0.5345 2.2807 1.1604 1.2851 0.603  4.0516
 0.5763 1.0525 0.563  1.4547 0.6973 0.4256 1.3061 0.7593 2.1005 1.6253
 1.0988 0.6623 0.6611 1.2782 3.62   0.5454 0.5764 0.424  0.7518 0.5452
 0.7264 2.5721 0.689  0.355  1.1249 1.3753 0.3564 0.4068]

=== PROFIL_D_AMORTISSEMENT ===
Nombre de valeurs uniques: 3
Valeurs: ['Emprunt in fine' 'Amort. constant ou progressif' 'Échéance constante']

=== POSSIBILITE_DE_REMBOURSEMENT ===
Nombre de valeurs uniques: 2
Valeurs: ['oui' 'non']

=== CATEGORIE_D_EMPRUNT ===
Nombre de valeurs uniques: 1
Valeurs: ['A-1']

In [17]:
dataset = dataset.drop(columns=['categorie_d_emprunt'])

In [22]:
dataset.to_csv("dette_propre_final.csv", index=False, encoding="utf-8-sig")